# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/OOP обстр классы/Debug
/OOP обстр классы/.vs/OOP обстр классы/v16
/.vs
/Файлы/.vs/Файлы/v16/ipch/AutoPCH/e54b991bda476088
/Файлы/.vs/Файлы/v16/ipch/AutoPCH/39de43c27026443d
/Файлы/.vs/Файлы/v16
/деревья/Debug
/деревья/.vs/деревья/v16
/test1/Debug
/test1/.vs/test1/v16/ipch/AutoPCH/131fbc4383648840
